<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../webjars/bootstrap/4.3.1/css/bootstrap.min.css"rel="stylesheet">
    <title>Novo item</title>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/header :: header"></div>
        <br/>
        <h5 style="text-align: center">Novo item</h5>
        <form th:action="@{./salvar}" th:object="${item}" method="POST">
            <div class="form-group">
                <label>Título</label>
                <input type="text" class="form-control" th:field="*{titulo}" />
                <strong th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></strong>
            </div>
            <div class="form-group">
                <label for="anotacao">Anotações</label>
                <select class="custom-select" id="anotacao" name="listaAnotacao" multiple>
                    <div class="container" th:each="anotacao: ${listAnotacoes}" th:object=${anotacao}>
                        <option value="" th:value=*{id} th:text="*{titulo}"></option>
                    </div>
              </select>
            </div>
            <div class="form-group">
                <label for="etiqueta">Etiquetas</label>
                <select class="custom-select" id="etiqueta" name="listaEtiqueta" multiple>
                    <div class="container" th:each="etiqueta: ${listEtiquetas}" th:object=${etiqueta}>
                      <option value="" th:value=*{id} th:text="*{titulo}"></option>
                    </div>
              </select>
            </div>
            <div class="form-group">
                <label for="vinculo">Vínculos</label>
                <select class="custom-select" id="vinculo" name="listaVinculo" multiple>
                    <div class="container" th:each="vinculo: ${listVinculos}" th:object=${vinculo}>
                      <option value="" th:value=*{id} th:text="*{'Item de Origem: '+itemOrigem.titulo+', Item de Destino: '+itemDestino.titulo}"></option>
                    </div>
              </select>
            </div>
            <input type="submit" class="btn btn-primary" />
            <input type="reset" class="btn btn-warning" />
        </form>   
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <script src="../webjars/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../webjars/jquery/2.1.4/jquery.js" type="text/javascript"></script>
</body>
</html>